<%- include ("headers/header_inicio"); %>
		<div class ="container">
			<div class="row"></div>
			<div class="row mt-5">
				<div class="row-cols-5"></div>
				<div class ="col md-0">
					<div class="card">
						<legend class="" alligment="center">
							Contenido 
						</legend>
					</div>

				</div>
				<div class="row-cols-5"></div>
			</div>
		</div>

<%- include ("headers/footer"); %>
