<%- include ("headers/header"); %>
<div class ="container">
	<div class="row"></div>
	<div class="row mt-5">
		<div class="col-sm-auto"></div>
		<div class ="col md-0">
			<div class="card">
				<legend class="card-header">
					Inicio Usuario
				</legend>
				<div class="card-body">
					<h2>Cosas de usuario</h2>
				</div>
			</div>
		</div>
		<form>
			<div class="col-md-2" >
				<!-- Para error en datos ingreados :p -->
				<div class="row mt-1" >
					<button type="submit" formaction="/comprarUsuario" style="margin: auto"  class="btn btn-warning disabled">Comprar</button>
				</div>
			</div>
		</form>
	</div>
</div>

<%- include ("headers/footer"); %>
