<!DOCTYPE html>
<html>
	<head>
		<meta charset = "utf-8">
		<title>pseudotienda</title>
		<link rel="stylesheet" href="/general.css" >
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand">Administrador</a>
			<a href = "/inicioAdmin" class="navbar-brand">Inicio</a>
			<a href = "/" class="navbar-brand">log out</a>
			<a href = "/allPedidos" class="navbar-brand">pedidos</a>
		</nav>
