<!DOCTYPE html>
<html>
	<head>
		<meta charset = "utf-8">
		<title>pseudotienda</title>
		<link rel="stylesheet" href="/general.css" >
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a  class="navbar-brand">Nombre Empresa</a>
			<a href = "/" class="navbar-brand">Inicio</a>
			<a href = "/registro" class="navbar-brand">Sing up</a>
			<a href = "/inicioSesion" class="navbar-brand">Sing in</a>
		</nav>
